body{
  background-color: #919197;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 0;

    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #4c525d;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

.main {
  padding: 20px;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;

}
.container .text-muted {
  margin: 20px 0;
}

/*//////////////////////////Nav with category*/
.panel-body1
{
  float:right;
  margin-top:20px;
  background-color: #e3e4e1;
  box-shadow:0px 0px 10px #B0BEC5;
}

.head-tabs>li>a
{
  color:black;
}
.table-Name
{
color:#008b5c;
}
.panel-primary>.panel-heading {
  background-color: #919197;
  border-color:#919197;
}
.custom_item
{
  background-color: #e3e4e1;
  border-color: #919197;
}
.custom_Panel
{
  background-color: #292a34;
  color:#008b5c;
  box-shadow:0px 0px 10px #B0BEC5;
  font-size:16px;
}
#add_order
{
  float:right;
}
button.btn.btn-primary.btn-pos.btn-marginTop.ng-binding.ng-scope {

    margin: 10px;
    width: 130px;
}
.btn-primary{
  background-color: #292A34;
  border-color: #292A34;
  box-shadow:0px 0px 10px #B0BEC5;
}
.btn-primary:hover{
  background-color: #919197;
  color:green;
}
.modal-header
{
  background-color: #919197;

}
