<div class="container">

  <div class="row">
<div class="col-sm-3 col-md-2 col-md-offset-10 sidebar">
      <ul class="nav nav-sidebar">

        <li><a ui-sref=".Table1" class="btn btn-primary">Table 1 </a></li>
        <li><a ui-sref=".Table2" class="btn btn-primary">Table 2 </a></li>
        <li><a ui-sref=".Table3" class="btn btn-primary">Table 3</a></li>
      </ul>
</div>
<ui-view></ui-view>
</div>
