<div ng-show="showMe">
<div class="head">
  <div class="panel-body1">
      <ul id="myTab" class="nav nav-tabs" role="tablist">
          <li role="presentation"><a ui-sref="Table1" ng-click ="showsubmenu('drinks')" role="tab" data-toggle="tab">Drinks</a></li>
          <li role="presentation"><a ui-sref="Table1" ng-click ="showsubmenu('food')" role="tab" data-toggle="tab">Food</a></li>
      </ul>
      <div class="sub_category">

          <div id="drink" ng-if="val">


              <button class="btn btn-primary btn-pos btn-marginTop" ng-repeat="item in drinks"  data-ng-click="addToOrder(item,1)"><i class="icon-glass"></i>{{item.name}}</button>
              <button type="button" id="back_category" ng-click="mycat()" class="btn btn-primary btn-round-lg btn-md">Back</button>

          </div>
          <div role="tabpanel" class="tab-pane" id="food" ng-if="!val">
              <button class="btn btn-primary btn-pos btn-marginTop" data-ng-repeat="item in foods" data-ng-bind="item.name" data-ng-click="addToOrder(item,1)"></button>
              <button type="button" id="back_category" ng-click="mycat()" class="btn btn-primary btn-round-lg btn-md">Back</button>

          </div>


      </div>
  </div>
</div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-4 sidebar">
      <div class="panel panel-primary custom_Panel">
          <div class="panel-heading">
              <div class="row">
                  <div class="col-md-4"><span class="panel-title">Order Summary</span></div>
                  <div class="col-md-4"><span>Today is: {{getDate()}}</span></div>
              </div>
          </div>
          <div class="panel-body" style="max-height:320px; overflow:auto;">
              <div class="table-Name" ng-hide="order1.length">
                 Table 2
              </div>
              <ul class="list-group">

                  <li class="list-group-item custom_item" ng-repeat="item in order1 track by $index">
                      <div class="row">
                          <div class="col-md-1">
                              <span class="badge badge-left" ng-bind="item.qty"></span>
                          </div>
                          <div class="col-md-4">
                              {{item.name}}
                          </div>
                          <div class="col-md-1">
                              <div>{{item.price * item.qty | currency:"USD$":0}}</div>
                          </div>

                          <div class="col-md-2 col-md-push-2">

                              <button class="btn btn-success btn-xs" ng-click="addToOrder(item,1)">
                                  <span class="glyphicon glyphicon-plus"></span>
                              </button>
                            </div>
                            <div class="col-md-2 col-md-push-2">
                              <button class="btn btn-warning btn-xs" ng-click="removeOneEntity(item)">
                                  <span class="glyphicon glyphicon-minus"></span>
                              </button>
                          </div>

                      </div>
                  </li>
              </ul>
          </div>
          <div class="panel-footer" ng-show="order1.length">

              <h4><span>Total:{{getTotal() | currency:"USD $ ":0}}</span></h4>
          </div>
          <div class="panel-footer" ng-show="order1.length">
              <div>
                  <span class="btn btn-default btn-marginTop" ng-click="clearOrder()" ng-disabled="!order1.length">Clear</span>
                  <span class="btn btn-danger btn-marginTop" ng-click="checkout()" data-toggle="modal" data-target="#myModal" ng-disabled="!order1.length">Checkout</span>
              </div>
          </div>
      </div>

     </div>
     <div class="col-sm-12 col-md-6 col-md-offset-2 main">
       <div class="btn-group" role="group">
        						   <button type="button" id="add_order" ng-click="myFunc()" class="btn btn-primary btn-round-lg btn-md">Order</button>
        </div>

</div>

</div>
<!--modal-->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Table 2 Checkout</h4>
      </div>
      <div class="modal-body">
        {{table2_pay}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
   </div>
